<p-toast></p-toast>
<div class="content">
  <div class="grid forms-grid">
    <div class="col-12 md:col-8 lg:col-4">
      <form [formGroup]="resetFormGroup">
        <div class="grid mt-5">
          <div class="field col-12">
            <label for="email">Email Address</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              pInputText
              placeholder="Enter email"><br>
            <small *ngIf="resetForm['email'].invalid && isSubmitted" class="p-error">
              {{resetForm['email'].hasError('required')?'Email is required' : 'Please enter a vaild email'}}
            </small><br>
          </div>
          <div class="col-12">
            <p-button
              label="Submit"
              [style]="{'background-color': '#836048', 'width': '100%'}"
              (onClick)="onSubmit()">
            </p-button>
          </div>
        </div>
      </form>
    </div>
    <app-shared class="hidden md:inline-flex" style="margin-top: -350px;"></app-shared>
  </div>
</div>
