<p-toast></p-toast>
<div class="content">
  <div class="grid forms-grid">
    <div class="col-12 md:col-8 lg:col-4">
      <form [formGroup]="resetFormGroup">
        <div class="grid mt-5">
          <div class="field col-12">
            <label for="email">New Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              pInputText
              placeholder="Enter a new password"><br>
            <small *ngIf="resetForm['password'].invalid && isSubmitted" class="p-error">
              Password is required
            </small><br>
          </div>
          <div class="field col-12">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              pInputText
              placeholder="Confirm the new password"><br>
            <small *ngIf="resetForm['confirmPassword'].invalid && isSubmitted" class="p-error">
              Confirm Password is required
            </small><br>
          </div>
          <div class="col-12">
            <p-button
              label="Submit"
              [style]="{'background-color': '#836048', 'width': '100%'}"
              (onClick)="onSubmit()">
            </p-button>
          </div>
        </div>
      </form>
    </div>
    <app-shared class="hidden md:inline-flex" style="margin-top: -350px;"></app-shared>
  </div>
</div>
