#alpha{
  color: #FAFAFA;
  margin-top: -110px;
  margin-left: 620px;
  font-size: 60px;
  font-family: 'Poppins';
  font-weight: bolder;
}

#services{
  color: #FAFAFA;
  margin-top: -50px;
  margin-left: 550px;
  font-size: 60px;
  font-family: 'Poppins';
  font-weight: bolder;

}
