<!DOCTYPE html>
<html>
    <head>
        <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:normal,wght@0,600;&display=swap');</style>
        <link rel="stylesheet" href="/public/assets/styles.css">
    </head>
    <body>
        <div class="main-container">
            <div>
                <span>Hello <%= email %></span>,
            </div>
            <br>
            <div>
                <span>Please follow the following link in order to reset the password: </span>
            </div>
            <br>
            <div>
                <a href='<%= url %>' target="_blank"><%= url %></a>
            </div>
            <br>
            <div>
                <span>Best regards</span>
            </div>
        </div>
    </body>
</html>